div{
    background-color: red;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

div p1:first-child{
    font-style: italic;
}

div p2:first-child{
    font-style: italic;
}

div p3:first-child{
    font-style: italic;
}

div p2:nth-last-of-type(2){
    color: white;
}

div p2:nth-last-of-type(1){
    color: white;
}

button:hover{
    background-color: blue;
}

button:active{
    background-color: blue;
    height: 200px;
    width: 150px;
}
ul li:nth-last-of-type(2){
    color: red;
}

ul li:nth-last-of-type(3){
    color: red;
}

ol li:nth-last-of-type(3){
    font-size: 24px;
}

ol li:nth-last-of-type(1){
    font-size: 24px;
}